/* Estilos Gerais */
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0; 
    background: #f0f2f5; 
    color: #333;
}

header { 
    background: #004a80; 
    color: white; 
    text-align: center; 
    padding: 1.5rem 1rem; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}header p { 
    margin: 5px 0 0 0; 
    font-size: 0.9rem; 
    opacity: 0.9; 
}

.lema {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #ffd700; /* Um tom dourado para destacar o "Poder" */
    margin-top: 5px;
    text-transform: uppercase;
}


main { 
    padding: 15px; 
    max-width: 600px; 
    margin: auto; 
}

/* Cartões de Informação */
.card { 
    background: white; 
    padding: 20px; 
    border-radius: 12px; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); 
}

h3 { margin-top: 0; color: #004a80; font-size: 1.1rem; border-bottom: 1px solid #eee; padding-bottom: 10px; }

/* Mapa */
#map { 
    height: 250px; 
    width: 100%;
    border-radius: 12px; 
    margin-bottom: 20px; 
    z-index: 1;
}

/* Busca */
#busca { display: flex; gap: 10px; margin-top: 10px; }
input { 
    flex: 1; 
    padding: 12px; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    font-size: 16px; /* Evita zoom automático no iPhone */
}

/* Botões */
button { 
    width: 100%;
    padding: 14px; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    font-weight: bold; 
    font-size: 1rem;
    cursor: pointer; 
    transition: opacity 0.2s;
    margin-top: 5px;
}

button:active { opacity: 0.8; }

#busca button { width: auto; background: #28a745; margin-top: 0; }

/* Cores do Radar e Arrecadação */
#arrecadacao { line-height: 1.6; }
#alertas { font-size: 0.9rem; line-height: 1.4; }
